<%- include ("partials/header")%>


    <h1>Faculty Recruitment Portal</h1>
    <a href="/home" >Home</a><br>
    <a href="/login" >Login</a><br>
    <a href="/signup" >Signup</a><br>
    <a href="/dashboard" >Dashboard</a><br>





    <%- include ("partials/footer")%>