<%- include ("partials/header")%>

<h2>LOGIN</h2>

<form class="ui form " action="/login" method="post">
    <div ><label style="font-size: 30px;">Username</label> <input type="text" name="username" placeholder="username" required></div><br>
    <div><label style="font-size: 30px;">Password</label> <input type="password" name="password" placeholder="password" required></div>
    <div><button type="submit" value="LOGIN">LOGIN</button></div>
 </form>



<%- include ("partials/footer")%>